*{
  padding: 0;
  margin: 0;
}
body{
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: 'Concert One', cursive;
}
.top-container{
  background-color: #2fc4b2;
  width: 100%;
  height: auto;
}
.middle{
  background-color: #dae1e7;
}
.main{
  width: 400px;
  height: 400px;
  border-radius: 15%;
  margin-top: 50px;
  object-fit: cover;
}
.pic{
  width: 250px;
  height: 250px;
  border-radius: 100%;
  /* box-shadow: 0 0 7px 10px #40bad5 */

}
h1{
font-family: 'Niconne', cursive;
font-size: 8rem;
padding: 40px 0 20px;

}
h2{
  font-family: cursive;
  font-size: 4rem;
  padding:  50px 0 50px;
  color: #d92027;
}
.ph{
  font-size: 1.7rem;

}
.pm{
  width: 480px;
  height: 283px;
  text-align: center;
  font-size: 1rem;
  border: solid #5c2a9d;
  border-radius: 10%;
  padding: 40px;

}
.dd{
  display: inline-block;
  padding: 0 40px 0;
}
.ss{
  display: inline-block;
  padding: 10px;
  width: 20px;
  height: 20px;
}
footer{
  margin: 20px;
}
a{
  text-decoration: none;
}
.row3{
  padding-bottom: 100px;
}
